/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Define CSS variables */
:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --nav-background-color: #aabd8c;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #e7c24f;
  --nav-hover-background-color: #396e94;
}

/* Apply styles to the body */
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Apply styles to headings (h1 - h6) */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

/* Apply styles to the header */
header {
  padding: 20px;
  background-color: var(--nav-background-color);
}

/* Apply styles to paragraphs */
p {
  padding: 10px;
}

/* Add more CSS rules as needed */

/* Navigation styles */
nav {
  background-color: var(--nav-background-color);
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
